# Pythonコーディングの基礎

## 変数の宣言
（変数名）=（変数の値）で定義

In [1]:
a = 1                             # int型
b = 1.0                           # float型
c = 'ヒューマンインターフェイス'    # string型
d = True                          # bool型

## print文
決まった文章を出力可能  
 &rarr; プログラムの実行状態の把握などに使用

In [2]:
print(a)
print('bの値は', b, 'です')
print('私は' + c + '研究室所属です')
print(f'dの値は{d}です')

1
bの値は 1.0 です
私はヒューマンインターフェイス研究室所属です
dの値はTrueです

## コメントアウト
- シャープ（#）  
 &rarr; 直後の1文を無視
- シングルクォーテーション（’） or ダブルクォーテーション（”）×3  
 &rarr; 囲まれた区間を無視

In [3]:
a = 1 # 1行限定のコメントアウト
b = 2

print(a)
"""
print('複数行のコメントアウト')
"""
print(b)

1
2

## 算術演算子
四則演算などの算術的な計算に使用する記号

In [4]:
10 + 3

13

In [5]:
10 - 3

7

In [6]:
10 * 3

30

In [7]:
10 / 3

3.3333333333333335

In [8]:
10 % 3

1

In [9]:
10 // 3

3

## 比較演算子
複数の値を比較するときに使用する記号

In [10]:
print(10 == 10)

True

In [11]:
print(10 != 10)

False

In [12]:
print(10 > 10)

False

In [13]:
print(10 >= 10)

True

In [14]:
print(10 < 10)

False

In [15]:
print(10 <= 10)

True

In [16]:
print(1 in [1, 2, 3, 4, 5])

True

In [17]:
print(1 not in [1, 2, 3, 4, 5])

False

## 論理演算子
ブール型の変数を組み合わせた処理で使用する記号

In [18]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [19]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [20]:
print(not True)
print(not False)

False
True

## リスト
多数のデータを一括で扱うためのデータ型

In [21]:
# --------------------
# リストの宣言
# --------------------
number_list = [8, 3, 5, 9, 7, 4]

# 型が混在してもOK
price_list = ['pen', 150, 'eraser', 100, 'scissors', 500]


# --------------------
# 多次元リストの宣言
# --------------------
age_list = [['佐藤', 24],
            ['鈴木', 28],
            ['高橋', 25]]

In [22]:
number_list[2]

5

In [23]:
number_list[1:4]

[3, 5, 9]

In [24]:
len(number_list)

6

In [25]:
number_list[4] = 6

number_list

[8, 3, 5, 9, 6, 4]

In [26]:
number_list.append(1)

number_list

[8, 3, 5, 9, 6, 4, 1]

## 辞書
キー(key) と 値(value) を対応付けることができるデータ型

In [27]:
age_dict = {'Jacob' : 26,
            'Sophia' : 24,
            'Charlie' : 31,
            'William' : 29}

In [28]:
age_dict['Sophia']

24

In [29]:
age_dict['Harry'] = 30

age_dict

{'Jacob': 26, 'Sophia': 24, 'Charlie': 31, 'William': 29, 'Harry': 30}

## if文

In [30]:
num = 5   # 任意の数

if num > 0:
  print('変数numは正の数です')
elif num < 0:
  print('変数numは負の数です')
else:
  print('変数numはゼロです')

変数numは正の数です

In [31]:
target = 6
number_set = [445, 95, 25, 6]

if target in number_set:
  print(f'要素{target}が{number_set}に存在します')
else:
  print(f'要素{target}は{number_set}に存在しません')

要素6が[445, 95, 25, 6]に存在します

## for文

In [32]:
sequence = []

for i in range(5):
  sequence.append(i)

print(sequence)

[0, 1, 2, 3, 4]

In [33]:
name_list = ['佐藤', '鈴木', '高橋']

print('--- 名簿 ---')

for i, name in enumerate(name_list):
  print(f'{i:03}_{name}')

--- 名簿 ---
000_佐藤
001_鈴木
002_高橋

## while文

In [34]:
i = 0

while i < 3:
  print(i)
  i += 1

0
1
2

In [35]:
i = 1

while True:
  print(i)

  if i > 100:
    break
  i *= 2

print('iが100より大きくなりました')

1
2
4
8
16
32
64
128
iが100より大きくなりました